p {
font-size: 15px;
color: #262364;
};

ion-icon[name=camera] {    
    margin-right: 10px;
};

ion-img{
background-color: transparent;
display: block;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 50%;
};

button[icon-only]{
margin: 0 10% 0;
width: 80%;
display: block;
};

button[icon-camera] {
margin: 5% 10% 0;
width: 80%;
display: block;
font-family: 'Futura LT Regula';
background-color: #262364;
}

