page-home {
}

p {
font-size: 15px;
color: #262364;
};

ion-icon[name=camera] {    
    margin-right: 10px;
};

button[icon-only]{
margin-left: 10%;
margin-left: 10%;
width: 80%;
display: block;
};

button[icon-camera] {
margin: 10% 10% 0;
width: 80%;
display: block;
font-family: 'Futura LT Regula';
background-color: #262364;
}

